@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    background-color: #FFE1E1;
    margin: 0px;
    padding: 0px;
}


.fonte_destaque{
    color: #FFE1E1;
    font-family:Dancing Script;
}
.fonte_padrao{
    font-family: Montserrat;
    color: #FFE1E1;
}
#transparencia{
    width: 100%;
    background-color: #801A5C;
}
#pexelsimg{
    width: 100%;
}
.cabecalho {
    background-color: #801A5C;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0;
}
#logo{
    text-align: start;
}
#nomemarca {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#ferllu {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    color: #FFE1E1;
    display: inline-block;
    vertical-align: middle;
}
#nomemarca{
    text-align: center;
}

#logoferluimg {
    height: 90px;
    width: 90px;
    vertical-align: middle;
}
#caixamenu{
    margin: 0px;
    padding: 5px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: #9B5388;
}
.listanonum{
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
}
.textomenu{
    margin: 50px;
    color: #FFE1E1;
    font-family: Montserrat;
    display:inline;
}
.link{
    font-size: 1.7cap;
    text-decoration: none;
    color: currentColor;
}
.dancingFont{
    font-family:Dancing Script;
}
#icoinsta{
    background-color: #E9C6DB;
    border-radius: 20px;
    margin: 8px;
    width: 80px;
    height: 80px;
}
#icowhats{
    background-color: #E9C6DB;
    border-radius: 20px;
    margin: 2px;
    width: 80px;
    height: 80px;
}
#floricultura{
    font-family: Montserrat;
}
.rodape{
    background-color: #801A5C;
    text-align: center;
    margin-bottom: 0;
    padding: 5px;
    margin-top: 30px;
}
.ferlluFlo{
    font-size: 40px;
    font-family: Dancing Script;
}
h2{
    color: #FFE1E1;
    font-weight: lighter;
}

h1{
    text-align: center;
}
.entreem{
    padding-top: 140px;
    margin: 0;
    font-family: Montserrat;
    font-size: 40px;
    color: #9B5388;
    text-align: center;
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    z-index: 20000;
}
.contato{
    text-align: center;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    color: #9B5388;
    border-bottom: 1px solid #801A5C;
   
}

.tudo {
    display: flex;
    
}
  
  .preencher {
    margin-right: auto; 
    color: black;
   font-size: 15px;
   margin-top: 40px;
   margin: 40px;
   width: 30%; 

  }
  
  h3{
    color: black;
    text-align: center;
  }
  .container {
    margin-left: auto; 
    color: #801A5C;
    font-family:  Montserrat;
    font-size: 25px;
   margin-left: 300px;
  }

  #number {
    font-size: 40px; /* Altere o valor conforme necessário para ajustar o tamanho */
    border-radius: 30px; /* Define o raio da borda para arredondar */
    border: 1px solid #ccc;
    background-color: #DEC6D7;
   
  }
#name{
  font-size: 40px; /* Altere o valor conforme necessário para ajustar o tamanho */
  border-radius: 30px; /* Define o raio da borda para arredondar */
  border: 1px solid #ccc;
  background-color: #DEC6D7;
}

#textomenu{
    font-size: 40px; /* Altere o valor conforme necessário para ajustar o tamanho */
    border-radius: 30px; /* Define o raio da borda para arredondar */
    border: 1px solid #ccc;
    background-color: #DEC6D7;
  
}

#text{
    font-size: 40px; /* Altere o valor conforme necessário para ajustar o tamanho */
    border-radius: 30px; /* Define o raio da borda para arredondar */
    border: 1px solid #ccc;
    background-color: #DEC6D7;
    height: 200px;
   
}

input[type="submit"] {
    font-size: 20px; /* Altere o tamanho da fonte conforme necessário */
    padding: 10px 20px; /* Altere o preenchimento conforme necessário */
    width: 150px; /* Altere a largura conforme necessário */
    height: 80px; /* Altere a altura conforme necessário */ 
    background-color: #DEC6D7;
    border-radius: 30px; 
    font-family: Montserrat; 
    padding: 10px 20px;
    margin-left: 150px;
    border: 1px solid #ccc;

   
  }
