@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    background-color: #FFE1E1;
    margin: 0px;
    padding: 0px;
}
.cabecalho {
    background-color: #801A5C;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0;
}
.fixacabeca{
    position: fixed;
}
#logo{
    text-align: start;
}
header{
    position: fixed;
    width: 100%;
    z-index: 20000;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5)
}
.fonte_destaque{
    color: #FFE1E1;
    font-family:Dancing Script;
}
.fonte_padrao{
    font-family: Montserrat;
    color: #FFE1E1;
}
#transparencia{
    width: 100%;
    background-color: #801A5C;
}
#pexelsimg{
    width: 100%;
}
#logo{
    text-align: start;
}
#nomemarca {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#ferllu {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    color: #FFE1E1;
    display: inline-block;
    vertical-align: middle;
}
#nomemarca{
    text-align: center;
}

#logoferluimg {
    height: 90px;
    width: 90px;
    vertical-align: middle;
}
#caixamenu{
    margin: 0px;
    padding: 5px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: #9B5388;
}
.listanonum{
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
}
.textomenu{
    margin: 50px;
    color: #FFE1E1;
    font-family: Montserrat;
    display:inline;
}
.link{
    font-size: 1.7cap;
    text-decoration: none;
    color: currentColor;
}
.dancingFont{
    font-family:Dancing Script;
    font-size: 50px;
    text-align: center;
}
#icoinsta{
    background-color: #E9C6DB;
    border-radius: 20px;
    margin: 8px;
    width: 80px;
    height: 80px;
}
#icowhats{
    background-color: #E9C6DB;
    border-radius: 20px;
    margin: 2px;
    width: 80px;
    height: 80px;
}

h1{
    text-align: center;
    font-family:  Dancing Script, cursive;
    font-size: 30px;
}

.container {
    text-align: center; 
    
}

.boxsandra{
display: inline-flex; 
flex-direction: column; 
justify-content: center; 
align-items: center;
width: 180px;
height: 180px;
 background-color: #f0f0f0;
margin: 20px; 
border-radius: 70%; 
border: 2px solid black;

}
.boxandrea{
    display: inline-flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
     background-color: #f0f0f0;
    margin: 20px;
    border-radius: 70%; 
    border: 2px solid black;
}

.boxfotoempresa{
    display: inline-flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 180px;
    height: 180px;
     background-color: #f0f0f0;
    margin: 20px; 
    border-radius: 70%; 
    border: 2px solid black;  
}
.boxnossamissao{
    display: inline-flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 400px;
    height: 200px;
    border-radius: 20px;
     background-color: #f0f0f0;
    margin: 10px; 
}

.boxnossahistoria{
    display: inline-flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 800px;
    height: 400px;
    border-radius: 20px;
     background-color: #f0f0f0;
    margin: 10px; 
    text-align: center;
}
.tipogal{
    text-align: center;
    font-family: Dancing Script;
    font-size: 70px;
    color: #A81971;
    font-weight: 800;
    text-decoration: underline 2px;
    padding-top: 140px;
    margin: 0;
}

.imgal{
    min-width: 150px;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid #A81971;
    background-color: #FFFFFF;
    border-radius: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.compgal{
    display: flex;
    justify-content: center;
}
.ferlluFlo{
    font-size: 40px;
    font-family: Dancing Script;
}
h2{
    color: #FFE1E1;
    font-weight: lighter;
}
a{
    text-decoration: none;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #801A5C;
    padding: 20px;
    color: white;
}
.rodape p{
    font-family: Montserrat;
    margin: 0;
    max-width: 145px;
    text-align: center;
    color: #F8F4F7;
    font-size: 19px;
}
.redesociais{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 270px;
}
.redesociais p:hover{
    color: #000000;
    font-weight: 400;
    text-decoration: underline;
}
.contatoinfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 270px;
}

.redesociais div, .contatoinfo div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.redesociais img, .contatoinfo img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    background-color: #F8F4F7;
    border-radius: 10px;
}

.logodofooter{
    display: flex;
    justify-content: center;
    flex: 1;

}

.logodofooter img {
    width: 100px;
    height: auto;
}
#textoinicio{
    padding-top: 100px;
    margin: 0;
}


