@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    background-color: #FFE1E1;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.cabecalho{
    background-color: #801A5C;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0;
}
#logo{
    text-align: start;
}
#nomemarca {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#ferllu {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    color: #FFE1E1;
    display: inline-block;
    vertical-align: middle;
}
#nomemarca{
    text-align: center;
}

#logoferluimg {
    height: 90px;
    width: 90px;
    vertical-align: middle;
    
}
#caixamenu{
    margin: 0px;
    padding: 5px;
    background-color: #9B5388;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.5);
}
.listanonum{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    
    
}
.textomenu{
    margin: 50px;
    color: #FFE1E1;
    font-family: Montserrat;
    display:inline;
}
.link{
    font-size: 1.7cap;
    text-decoration: none;
    color: currentColor;
}
.dancingFont{
    font-family:Dancing Script,sans-serif ;
}
#icoinsta{
    background-color: #FAF4F8;
    border-radius: 10px;
    margin: 8px;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
}
#icowhats{
    background-color: #FAF4F8;
    border-radius: 10px;
    margin: 8px;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
}
#floricultura{
    font-family: Montserrat;
}
#nossP{
    text-align: center;
    font-size: 55px;
    padding-top: 140px;
    margin: 0;
}
.main-scroll-div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cover{
    position: relative;
    width: 90%;
    height: 50%;
}

.child {
    min-width: 230px;
    height: 230px;
    margin: 1px 10px;
    cursor: pointer;
    border: 2px solid rgb(155, 83, 136);
    overflow: hidden;
    background-color: #BBB9B9;
    border-radius: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.scroll-images::-webkit-scrollbar{
    -webkit-appearance: none;
}
.child img {
    max-width: 100%; 
    max-height: 100%;
}
.icones{
    color: black;
    background-color: #801A5C;
    font-size: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    height: 236px;
    width: 60px;
    line-height: 236px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.icondi{
    color: black;
    background-color: #801A5C;
    font-size: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    height: 236px;
    width: 60px;
    line-height: 236px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.icones :hover{
    color: gray;
}
.icondi :hover{
    color: gray;
}
.tipos{

    margin-bottom: 0;
    margin-left: 6%;
    font-family: Montserrat,sans-serif;
    font-weight: normal;
}
.verT{
    font-weight: normal;
    margin-bottom: 0;
    margin-right: 65px;
    color: #801A5C;
}
.verT:hover{
    text-decoration: underline;
    color: black;
}

.containersuperior {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.scroll-images-orquideas{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-buques{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-flornaturais{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-canecas{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-chocolates{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-jardinagem{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-pelucias{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-bebidas{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-cachepos{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-maternidade{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-velorio{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-cestas{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images-adubos{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.rodape{
    background-color: #801A5C;
    text-align: center;
    margin-bottom: 0;
    padding: 5px;
    margin-top: 30px;
}
.ferlluFlo{
    font-size: 40px;
    font-family: Dancing Script;
}
h2{
    color: #FFE1E1;
    font-weight: lighter;
}
.cover{
    position: relative;
    width: 90%;
    height: 50%;
}
.cover::before{
    position: absolute;
    content: "";
    left:0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 40px;
    background-image: linear-gradient(90deg,rgb(44, 44, 44), transparent);
}
.cover::after{
    position: absolute;
    content: "";
    right:0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 40px;
    background-image: linear-gradient(-90deg,rgb(44, 44, 44), transparent);
}
.textoproduto {
    margin: 50px;
    color: #FFE1E1;
    font-family: Montserrat;
    display: inline;
    
}

.textoproduto:hover .hoverprod {
    display: flex;
    justify-items: center;
    align-items: center;
    top: 100%;
    left: 50%;
    background-color: transparent;
    z-index: 999;
    flex-direction: column;


}
.hoverprod{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: transform .2s;
    z-index: 1000;
    text-align: center;
    
}
.hoverprod1, .hoverprod2, .hoverprod3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-top: 10px;
    z-index: 1001;
    text-align: center;
}

.itemenu {
    width: 130px;
    height: 120px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    border: 2px solid rgb(155, 83, 136);
    background-color: #BBB9B9;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.ulmenu {
    margin: 0;
    display: inline-block;
    padding: 0;
    list-style: none;
}

.itemenu-img {
    max-width: 100%;
    max-height: 100%;
}
.botaowhats{
    background-color:#25D366;
    color: white;
    text-align: center;
    width: 250px;
    border-radius: 50px;
    border:black solid 2px;
    align-items: center;
    font-family: sans-serif;
    margin: auto;
    height: auto;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 25px;
}
.botaowhats:hover{
    color: black;
    border: white solid 2px;
}
.imgal{
    min-width: 150px;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid rgb(155, 83, 136);
    background-color: #BBB9B9;
    border-radius: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.gal-img{
    max-width: 100%; 
    max-height: 100%;
}
.compgal{
    display: flex;
    justify-content: center;
}
.tipogal{
    text-align: center;
    font-family: Dancing Script;
    font-size: 45px;
    color: #801A5C;
    font-weight: 800;
    text-decoration: underline 2px;
    padding-top: 140px;
    margin: 0;
}
html{
    scroll-behavior: smooth;

}
header{
    position: fixed;
    width: 100%;
    z-index: 20000;
}
#orquidea{
    padding-top: 105px;
}
#buque{
    padding-top: 105px;
}
#flornat{
    padding-top: 105px;
}
#canecas{  
    padding-top: 105px;
}
#chocolate{
    padding-top: 105px;
}
#jardinagem{
    padding-top: 105px;
}
#pelucias{
    padding-top: 105px;
}
#bebidas{
    padding-top: 105px;
}
#cachepos{
    padding-top: 105px;
}
#maternidade{
    padding-top: 105px;
}
#velorio{
    padding-top: 105px;
}
#cestas{
    padding-top: 105px;
}
#adubos{
    padding-top: 105px;
}